{% load admin_tags %}

{% with project=item page='user' %}
<div class="object-anchor" id="project-{{project.uuid}}"></div>
<div class="object-details {{ rowcls }}" data-id="{{project.uuid}}"
    data-type="{{type}}">
    <h4 class="clearfix">
        {% include "admin/_details_h4_lt.html" %}
        <span class="rt">
            {{ project|status_label|safe }}
            {% if project.last_application %}
               {{ project.last_application|status_label|safe }}
            {% endif %}
            <span class="label">UUID: {{ project.uuid }}</span>
            {% if project.is_base %}
            <span class="label label-info">
                SYSTEM
            {% else %}
            <span class="label">
                Members: {{ project.members_count }}
            {% endif %}
            </span>
        </span>
    </h4>

    {% include "admin/async_details_endpoint.html" %}

    {% include "admin/action_list_horizontal.html" %}
</div>
{% endwith %}
