{% load admin_tags %}

{% with user=item %}
<div class="object-anchor" id="{{ type }}-{{user|id}}"></div>
<div class="object-details {{ rowcls }}" data-id="{{user|id}}" data-type="{{type}}">
    <h4 class="clearfix">
        {% include "admin/_details_h4_lt.html" %}
        <span class="rt">
            {{ user|status_label|safe }}
            <span class="label">UUID: {{ user.uuid }}</span>
            <span class="label">{{ user.email }}</span>
        </span>
    </h4>

    {% include "admin/async_details_endpoint.html" %}

    {% include "admin/action_list_horizontal.html" %}
</div> <!-- <div class="object-details {{ rowcls }}"> -->
{% endwith %}
