{% load admin_tags %}

{% with vm=item %}
<div class="object-anchor" id="vm-{{vm.pk}}"></div>
<div class="vm-details object-details {{ rowcls }}" data-id="{{vm.pk}}"
    data-type="{{type}}">
  <h4 class="clearfix">
    {% include "admin/_details_h4_lt.html" %}
    <span class="rt">
        {% if vm.suspended %}
        <span class="label label-warning">SUSPENDED</span>
        {% endif %}
        {{ vm|status_label|safe }}
        <span class="label">ID: {{ vm.pk }}</span>
        <span class="label flavor">
          <span class="cpu">{{ vm.flavor.cpu }}x</span>
          <span class="ram">{{ vm.flavor.ram}}MB</span>
          <span class="disk">{{ vm.flavor.disk }}GB</span>
        </span>
        <em class="os-info"><img src="{{ UI_MEDIA_URL }}images/icons/os/{{ vm|get_os }}.png" alt="{{ vm|get_os }}" />{{ vm|get_os }}</em>
    </span>
</h4>

  {% include "admin/async_details_endpoint.html" %}

  {% include "admin/action_list_horizontal.html" %}
</div>
{% endwith %}
