{% load admin_tags %}

{% with volume=item %}
<div class="object-anchor" id="volume-{{volume.pk}}"></div>
<div class="object-details {{ rowcls }}" data-id="{{volume.pk}}"
    data-type="{{type}}">
    <h4 class="clearfix">
        {% include "admin/_details_h4_lt.html" %}
        <span class="rt">
            {{ volume|status_label|safe }}
            <span class="label">ID: {{ volume.pk }}</span>
            {% if volume.machine %}
            <span class="label">VM ID: {{ volume.machine.pk }}</span>
            {% endif %}

            <span class="label">{{ volume.size }} GB</span>
            <span class="label">{{ volume.type|repr }}</span>
        </span>
    </h4>
        <div class="tags">
        </div>

    {% include "admin/async_details_endpoint.html" %}

    {% include "admin/action_list_horizontal.html" %}
</div> <!-- <div class="object-details {{ rowcls }}"> -->
{% endwith %}

